PORT=3001
NODE_ENV=development
IBM_CLOUD_API_KEY=your_api_key_here
WATSONX_PROJECT_ID=your_project_id_here
IBM_CLOUD_URL=url
MODEL_ID=ibm/granite-3-8b-instruct

LOG_LEVEL=info
SECURITY_AUDIT_LOG=true

